body {
    padding: 20;
    margin: 0;
    overflow: hidden;
}

#container{
  overflow:hidden;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 48px;
}

html, body, #container, #map {
	height: 100%;
}

#map-title {
  padding-left: 50%;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 26px;
  border-bottom: 1px solid #1EBDAC;
}

#right-panel-top {
  height: 40vh;
  overflow-y: scroll;
  padding: 1em;
  border: 1px solid #1EBDAC;
}

#right-panel-bottom {
  height: 60vh;
  overflow: scroll;
  padding: 0.25em;
  border: 1px solid #1EBDAC;
}

.menu-label {
  font-family: verdana;
  font-weight: bold;
}